<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary"
              (click)="onlyOdd = !onlyOdd">
        Only show odd numbers
      </button>
      <br><br>
      <p>All numbers</p>
      <ul class="list-group">
        <li class="list-group-item"
            *ngFor="let number of numbers">
          {{ number }}
        </li>
      </ul>
      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
        <ul class="list-group">
          <li class="list-group-item"
              [ngClass]="{odd: onlyOdd}"
              [ngStyle]="{backgroundColor: onlyOdd ? 'yellow' : 'transparent'}"
              *ngFor="let odd of oddNumbers">
            {{ odd }}
          </li>
        </ul>
      </ng-template>
      <ng-template [ngIf]="!onlyOdd">
        <p>Only even</p>
        <ul class="list-group">
          <li class="list-group-item"
              [ngClass]="{odd: onlyOdd}"
              [ngStyle]="{backgroundColor: onlyOdd ? 'yellow' : 'transparent'}"
              *ngFor="let even of evenNumbers">
            {{ even }}
          </li>
        </ul>
      </ng-template>
      <p appBasicHighlight>Style me with basic directive as an attribute directive!</p>
      <appBasicHighlight>Style me with basic directive as an HTML element directive!</appBasicHighlight>
      <!--<p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'red'">Style me with better directive as an attribute directive!</p>-->
      <p appBetterHighlight defaultColor="yellow" [test]="'red'">Style me with better directive as an attribute directive!</p>
      <appBetterHighlight>Style me with better directive as an HTML element directive!</appBetterHighlight>
    </div>
  </div>
</div>
